@{
    ViewBag.Title = "Pradžia";
}

<div class="page-container home-page">
    <h2>Pasirinkite ką darysite</h2>

    <div class="blocks">
        <div class="col">
            <a href="#"><i class="fas fa-comment-alt"></i> <span class="title">Žiūrėti pranešimus</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-thumbtack"></i> <span class="title">Žiūrėti rezervacijas</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-thumbtack"></i> <span class="title">Kurti rezervaciją</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-thumbtack"></i> <span class="title">Laukiančios patvirtinimo rezervacijos</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-thumbtack"></i> <span class="title">Šiuo metu aktyvios rezervacijos</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="far fa-calendar-alt"></i> <span class="title">Žiūrėti kalendorių</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-camera-retro"></i> <span class="title">Peržiūrėti turimą įrangą</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-camera-retro"></i> <span class="title">Pridėti naują įrangą</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-camera-retro"></i> <span class="title">Žiūrėti įrangos komplektus</span></a>
        </div>
        <div class="col">
            <a href="#"><i class="fas fa-wrench"></i> <span class="title">Keisti sistemos nustatymus</span></a>
        </div>
    </div>
</div>