@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=latin-ext");
body,
html {
  margin: 0;
  padding: 0; }

body {
  background: #fafafa;
  font-family: "Roboto", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

.navbar {
  background: #124161;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  height: 80px; }
  .navbar a {
    text-decoration: none; }
  .navbar .logo {
    width: 260px;
    padding: 0 2em;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    .navbar .logo h1 {
      margin: 0; }
      .navbar .logo h1 a {
        color: white;
        font-size: 0.75em; }
  .navbar .links {
    padding: 0 2em; }
    .navbar .links nav ul li {
      display: inline-block;
      margin-left: 2em; }
      .navbar .links nav ul li a {
        color: white;
        font-size: 0.8em; }

.tools-nav {
  width: 260px;
  height: 100%;
  background: white;
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  padding: calc(80px + 1em) 2em 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .tools-nav nav a {
    text-decoration: none;
    color: #212121; }
    .tools-nav nav a:hover {
      color: #1d72ab; }
  .tools-nav nav > ul > li {
    margin-bottom: 1.5em; }
    .tools-nav nav > ul > li > a {
      color: #212121;
      font-weight: 700; }
    .tools-nav nav > ul > li > ul {
      padding-left: 1em;
      margin-top: 0.5em; }
      .tools-nav nav > ul > li > ul > li {
        margin-bottom: 0.5em; }
        .tools-nav nav > ul > li > ul > li > a {
          font-size: 0.75em; }
  .tools-nav footer {
    text-align: center; }
    .tools-nav footer p {
      font-size: 0.75em;
      color: #616161; }

.page-container {
  margin-top: 80px;
  margin-left: 260px;
  padding: 3em 4em;
  box-sizing: border-box; }
  .page-container h2 {
    margin-bottom: 1.5em; }

.page-container.home-page .blocks {
  display: flex;
  flex-wrap: wrap; }
  .page-container.home-page .blocks .col {
    background: white;
    width: 22%;
    box-sizing: border-box;
    margin: 0 2em 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    transition: 0.3s all; }
    .page-container.home-page .blocks .col:hover {
      background: #124161;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      border-color: #124161; }
      .page-container.home-page .blocks .col:hover a {
        color: white; }
      .page-container.home-page .blocks .col:hover i,
      .page-container.home-page .blocks .col:hover svg {
        color: white; }
    .page-container.home-page .blocks .col a {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 3em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      color: #124161;
      transition: 0.3s all;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.75em;
      box-sizing: border-box; }
      .page-container.home-page .blocks .col a i,
      .page-container.home-page .blocks .col a svg {
        font-size: 4em;
        margin-bottom: 0.5em;
        transition: 0.3s all; }
