
@{
    ViewBag.Title = "Įranga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container equipment-page">
    <h2>Įranga</h2>
    
    <div class="grid">
        <div class="equipment">
            <img src="http://via.placeholder.com/350x200" alt="Alternate Text" />
            <div class="content">
                <h3>Title</h3>
                <p>Trumpas aprašymas apie pasirinktą įrangą</p>
            </div>
        </div> 
        <div class="equipment">
            <img src="http://via.placeholder.com/350x200" alt="Alternate Text" />
            <div class="content">
                <h3>Title</h3>
                <p>Trumpas aprašymas apie pasirinktą įrangą</p>
            </div>
        </div>
        <div class="equipment">
            <img src="http://via.placeholder.com/350x200" alt="Alternate Text" />
            <div class="content">
                <h3>Title</h3>
                <p>Trumpas aprašymas apie pasirinktą įrangą</p>
            </div>
        </div>
        <div class="equipment">
            <img src="http://via.placeholder.com/350x200" alt="Alternate Text" />
            <div class="content">
                <h3>Title</h3>
                <p>Trumpas aprašymas apie pasirinktą įrangą</p>
            </div>
        </div>
        <div class="equipment">
            <img src="http://via.placeholder.com/350x200" alt="Alternate Text" />
            <div class="content">
                <h3>Title</h3>
                <p>Trumpas aprašymas apie pasirinktą įrangą</p>
            </div>
        </div>
        <div class="equipment">
            <img src="http://via.placeholder.com/350x200" alt="Alternate Text" />
            <div class="content">
                <h3>Title</h3>
                <p>Trumpas aprašymas apie pasirinktą įrangą</p>
            </div>
        </div>
        <div class="equipment">
            <img src="http://via.placeholder.com/350x200" alt="Alternate Text" />
            <div class="content">
                <h3>Title</h3>
                <p>Trumpas aprašymas apie pasirinktą įrangą</p>
            </div>
        </div>
    </div>
</div>