@model Technines_irangos_rezervacij.Models.EquipmentType
@{
    ViewBag.Title = "Equipment type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container equipment-type-details-page">
    <h2>Įrangos tipas - @Model.Name</h2>

    <p>@Model.Description</p>
    

</div>