<div class="navbar">
    <div class="logo">
        <h1>@Html.ActionLink("Techninė įranga", "Index", "Home")</h1>
    </div>
    <!-- <div class="search">
        <input type="text" placeholder="Ieškoti įrangos, komplektų, pranešimų ir t.t.">
    </div> -->
    <div class="links">
        <nav>
            <ul>
                <li><a href="#">Prisijungta kaip: Administratorius</a></li>
                <li><a href="#">Atsijungti</a></li>
            </ul>
        </nav>
    </div>
</div>
