<div class="tools-nav">
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Pradžia", "Index", "Home")
            </li>
            <li>
                <a href="#">Pranešimai</a>
                <ul>
                    <li><a href="#">Visi pranešimai</a></li>
                    <li><a href="#">Archyvuoti pranešimai</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Rezervacijos</a>
                <ul>
                    <li><a href="#">Visos rezervacijos</a></li>
                    <li><a href="#">Nauja rezervacija</a></li>
                    <li><a href="#">Laukiančios patvirtinimo</a></li>
                    <li><a href="#">Šiuo metu aktyvios</a></li>
                    <li><a href="#">Praėjusios rezervacijos</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Kalendorius</a>
                <ul>
                    <li><a href="#">Dienos</a></li>
                    <li><a href="#">Savaitės</a></li>
                    <li><a href="#">Mėnesio</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Įranga</a>
                <ul>
                    <li><a href="#">Atskiri įrangos vienetai</a></li>
                    <li><a href="#">Įrangos komplektai</a></li>
                    <li><a href="#">Nuomojama (rodoma) įranga</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Ataskaitų generavimas</a>
            </li>
            <li>
                <a href="#">Sistemos nustatymai</a>
            </li>
        </ul>
    </nav>
    <footer>
        <p>
            Visos teisės saugomos, 2018
        </p>
    </footer>
</div>
