
@{
    ViewBag.Title = "Šiuo metu aktyvios rezervacijos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container active-rezervations-page">
    <h2>Šiuo metu aktyvios rezervacijos</h2>
</div>