@model List<Technines_irangos_rezervacij.Models.Notification>
@{
    ViewBag.Title = "Archyvuoti pranešimai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container notifications-page">
    <h2>Archyvuoti pranešimai</h2>

    <div class="notifications-list">
        
        @foreach (var notification in Model)
        {
            <div class="notification">
                <div class="col">
                    <p class="from">@notification.Topic</p>
                    <p class="excerpt">
                        @notification.Text
                    </p>
                </div>
                <div class="col">
                    <i class="fas fa-ellipsis-h"></i>
                    <p class="time">@notification.DateCreated</p>
                </div>
            </div>
        }

    </div>
</div>