
@{
    ViewBag.Title = "Pranešimai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container notifications-page">
    <h2>Pranešimai</h2>
    
    <div class="notifications-list">
        <div class="notification">
            <div class="col">
                <p class="from">Margaret Andriert</p>
                <p class="excerpt">
                    Morbi elementum malesuada diam. Mauris ligula turpis, malesuada eget quam congue, pulvinar dignissim lacus.
                </p>
            </div>
            <div class="col">
                <i class="fas fa-ellipsis-h"></i>
                <p class="time">14:23</p>
            </div>
        </div>
        <div class="notification">
            <div class="col">
                <p class="from">Margaret Andriert</p>
                <p class="excerpt">
                    Morbi elementum malesuada diam. Mauris ligula turpis, malesuada eget quam congue, pulvinar dignissim lacus.
                </p>
            </div>
            <div class="col">
                <i class="fas fa-ellipsis-h"></i>
                <p class="time">14:23</p>
            </div>
        </div>
        <div class="notification">
            <div class="col">
                <p class="from">Margaret Andriert</p>
                <p class="excerpt">
                    Morbi elementum malesuada diam. Mauris ligula turpis, malesuada eget quam congue, pulvinar dignissim lacus.
                </p>
            </div>
            <div class="col">
                <i class="fas fa-ellipsis-h"></i>
                <p class="time">14:23</p>
            </div>
        </div>
        <div class="notification">
            <div class="col">
                <p class="from">Margaret Andriert</p>
                <p class="excerpt">
                    Morbi elementum malesuada diam. Mauris ligula turpis, malesuada eget quam congue, pulvinar dignissim lacus.
                </p>
            </div>
            <div class="col">
                <i class="fas fa-ellipsis-h"></i>
                <p class="time">14:23</p>
            </div>
        </div>
    </div>
</div>