// content

.page-container {
    margin-top: 80px;
    margin-left: 260px;
    padding: 3em 4em;
    box-sizing: border-box;
    // .content {
    //   max-width: 1140px;
    //   margin: auto;
    // }
    h2 {
        margin-bottom: 1.5em;
    }
}
