// navbar

.navbar {
    background: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 2em;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;

    a {
        text-decoration: none;
    }

    .logo {
        width: 260px;
        padding: 0 2em;
        border-right: 1px solid $borderColor;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        h1 {
            margin: 0;

            a {
                color: white;
                font-size: 0.75em;
            }
        }
    }

    // .search {
    //     text-align: center;
    //     flex-grow: 1;
    //     display: none;
    //
    //     input {
    //         background: rgba(white, 0.25);
    //         border: none;
    //         padding: 0.5em 3em;
    //         width: 70%;
    //         box-sizing: border-box;
    //         border-radius: 5px;
    //         color: white;
    //     }
    // }

    .links {
        padding: 0 2em;

        nav {
            ul {
                li {
                    display: inline-block;
                    margin-left: 2em;

                    a {
                        color: white;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}
